<footer class="footer">

  <small>
    Clock+<br>
    email: s3664454@student.rmit.edu.au <br>
    attempt grade level Pass
  </small>

  <nav>
    <ul>
      <li>Share Social</li>
      <li><%= link_to image_tag("facebook.png", alt: "Facebook Logo", :size => "50x50"),
      'http://www.facebook.com' %></li>
      <li><%= link_to image_tag("twitter.png", alt: "Twitter Logo", :size => "50x50"),
      'http://www.twitter.com' %></li>
      <li><%= link_to image_tag("linkedin.png", alt: "Linkedin Logo", :size => "50x50"),
      'http://www.linkedin.com' %></li>
    </ul>
  </nav>

</footer>