<footer class="footer">

  <small>
    Clock+ <br>
    email: s3664454@student.rmit.edu.au <br>
    Pass Level
  </small>

  <nav>
    <ul>
      <li>Share<br>Social</li>
      <li><%= link_to image_tag("facebook.png", alt: "Facebook logo", :size => "50x50"),
      'http://facebook.com/' %></li>
      <li><%= link_to image_tag("twitter.png", alt: "Twitter logo", :size => "50x50"),
      'http://twitter.com/' %></li>
      <li><%= link_to image_tag("linkedin.png", alt: "Linkedin logo", :size => "50x50"),
      'http://linkedin.com/' %></li>
    </ul>
  </nav>

</footer>